<p id="notice"><%= notice %></p>

<h4 class="title is-4">Fates</h4>
<p class="subtitle is-6">
  Chosen hunters can decide what fate is in store for them.
</p>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Hunter</th>
        <th>Found Out</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @fates.each do |fate| %>
        <tr>
          <td><%= hunter_link(fate.hunter) %></td>
          <td><%= fate.found_out_list %></td>
          <td><%= fate_buttons(fate) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Fate', new_fate_path, class: 'button is-primary' %>
