<p id="notice"><%= notice %></p>

<p>
  <strong>Hunter:</strong>
  <%= @fate.hunter.name %>
</p>

<p>
  <strong>Found Out:</strong>
  <%= @fate.found_out_list %>
</p>

<%= link_to 'Edit', edit_fate_path(@fate), class: 'button is-primary' %>
<%= link_to 'Back', fates_path, class: 'button' %>
